<!doctype html>
<html lang="en" ng-app="winwinTournament">

<head>
  <meta charset="utf-8">
  <title>Team Matches</title>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
  <!-- <link rel="stylesheet" href="/resources/demos/style.css"> -->
  <!-- <link href="round-robin-styles.css" rel="stylesheet" type="text/css"> -->

  <style type="text/css">
    table {
      font-family: Verdana, Geneva, sans-serif;
      font-size: 9px;
    }

    table caption {
      font-size: 18px;
      font-weight: bold;
    }

    table tr th {
      font-size: 12px;
      font-weight: bold;
      height: 60px;
    }

    table tr {
      height: 40px;
    }

    table tr td {
      font-size: 12px;
    }

    table tr td[contentEditable]:focus {
      background-color: LightYellow;
    }
  </style>
</head>

<body>

  <div id="tabs" ng-controller="TennisTournament">
    <ul>
      <li><a href="#tabs-1">Scoring</a></li>
      <li><a href="#tabs-2">Round1</a></li>
      <li><a href="#tabs-3">Round2</a></li>
      <li><a href="#tabs-4">Round3</a></li>
    </ul>
    <div id="tabs-1">
      <table width="800" border="1">
        <caption>
          Score Sheet
        </caption>
        <tr>
          <th width="172" scope="col">Player Team &amp; Name (ex. Team 1 John)</th>
          <th width="54" scope="col">Player Rd. 1</th>
          <th width="54" scope="col">Opp. Rd. 1</th>
          <th width="54" scope="col">Regular Scoring Rd. 1</th>
          <th width="54" scope="col">Player Rd. 2</th>
          <th width="54" scope="col">Opp. Rd. 2</th>
          <th width="54" scope="col">Regular Scoring Rd. 2</th>
          <th width="54" scope="col">Player Rd. 3</th>
          <th width="54" scope="col">Opp. Rd. 3</th>
          <th width="54" scope="col">Regular Scoring Rd. 3</th>
          <th width="48" scope="col">Team Name</th>
          <th width="48" scope="col">Match Score</th>
        </tr>
        <tr ng-repeat="player in players">
          <td>{{player.team}} {{player.name}}</td>
          <td>{{player.scores[0].player}}</td>
          <td>{{player.scores[0].opponent}}</td>
          <td>{{player.scores[0].regular}}</td>
          <td>{{player.scores[1].player}}</td>
          <td>{{player.scores[1].opponent}}</td>
          <td>{{player.scores[1].regular}}</td>
          <td>{{player.scores[2].player}}</td>
          <td>{{player.scores[2].opponent}}</td>
          <td>{{player.scores[2].regular}}</td>
          <td>{{player.team}}</td>
          <td>&nbsp;</td>
        </tr>
      </table>
    </div>
    <div id="tabs-2" ng-controller="Round1">
      <table width="800" border="1">
        <caption>
          Round 1
        </caption>
        <tr>
          <th width="172" scope="col">Player Team &amp; Name</th>
          <th width="60" scope="col">Player #</th>
          <th width="60" scope="col">Court #</th>
          <th width="53" scope="col">Score for -&#8250;</th>
          <th width="178" scope="col">Player Rd. 1</th>
          <th width="178" scope="col">Server Rd. 1</th>
          <th width="53" scope="col">Score &#8249;-for</th>
        </tr>
        <tr ng-repeat="player in round1Players">
          <td>{{player.team}} {{player.name}}</td>
          <td>1</td>
          <td>&nbsp;</td>
          <td contentEditable="true"></td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td contentEditable="true"></td>
        </tr>
      </table>
    </div>
    <div id="tabs-3" ng-controller="Round2">
      <table width="800" border="1">
        <caption>
          Round 2
        </caption>
        <tr>
          <th width="172" scope="col">Player Team &amp; Name</th>
          <th width="60" scope="col">Player #</th>
          <th width="60" scope="col">Court #</th>
          <th width="53" scope="col">Score for -&#8250;</th>
          <th width="178" scope="col">Player Rd. 2</th>
          <th width="178" scope="col">Server Rd. 2</th>
          <th width="53" scope="col">Score &#8249;-for</th>
        </tr>
        <tr ng-repeat="player in round2Players">
          <td>{{player.team}} {{player.name}}</td>
          <td>1</td>
          <td>&nbsp;</td>
          <td contentEditable="true"></td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td contentEditable="true"></td>
        </tr>
      </table>
    </div>
    <div id="tabs-4" ng-controller="Round3">
      <table width="800" border="1">
        <caption>
          Round 3
        </caption>
        <tr>
          <th width="172" scope="col">Player Team &amp; Name</th>
          <th width="60" scope="col">Player #</th>
          <th width="60" scope="col">Court #</th>
          <th width="53" scope="col">Score for -&#8250;</th>
          <th width="178" scope="col">Player Rd. 3</th>
          <th width="178" scope="col">Server Rd. 3</th>
          <th width="53" scope="col">Score &#8249;-for</th>
        </tr>
        <tr ng-repeat="player in round3Players">
          <td>{{player.team}} {{player.name}}</td>
          <td>1</td>
          <td>&nbsp;</td>
          <td contentEditable="true"></td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td contentEditable="true"></td>
        </tr>
      </table>
    </div>
  </div>

  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js"></script>
  <script src="tabs.js"></script>


</body>

</html>
